*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto', Courier, monospace;
}

body{
    background-color: #f7f8fb;
}

/* proprietà dell'header */
header{
    background-color: white;
    height: 80px;
}

#text-logo{
    height: 100px;
    vertical-align:middle;
    font-size: 40px;
    font-weight: bold;
}

#logo, #text-logo{
    display:inline-block;
    margin: 10px;
}

/* proprietà del container bianco centrale */
#container{
    margin:auto;
    width: 70%;
    height: 500px;
    background-color:white;
    margin-top: 40px;
    border-radius: 5px;
}

/* box pulsanti */
#box{
    padding: 15px;
    border-bottom: 4px solid #f7f8fb;
}

.contain{
    margin: 0 40px;
}

/* proprietà pulsanti */
.btn-prop{
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-weight: bold;
}

#add-task{
    background-color:#66aaed;
    border: none;
    color: white;
}

#add-section {
    background-color: transparent;
    border: 1px solid #bdbec3;
    color: #bdbec3;

}






